/* styles/HomePage.module.css */

.layout {
    display: flex;
    flex-direction: column;
  }
  
  .mainContent {
    display: flex;
  }
  
  .content {
    padding: 20px;
    flex: 2;
  }

  .infobox {
    width: 100%; /* Full width */
    max-width: 500px; /* Limit width */
  }